<div class="container py-4">
  <div class="row justify-content-center">
    <div class="col-md-10">
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">Rules Configuration</h4>
        </div>
        <div class="card-body" [ngStyle]="{ 'background-color': getEnvironmentColor() }">
          <!-- Common Fields -->
          <app-common-fields
            [commonEnvironment]="commonEnvironment"
            [commonAuthToken]="commonAuthToken"
            (commonEnvironmentChange)="onCommonFieldsChange('environment', $event)"
            (commonAuthTokenChange)="onCommonFieldsChange('token', $event)"
          ></app-common-fields>

          <!-- Rule Tabs -->
          <app-rule-tabs
            [loading]="loading"
            [scopes]="scopes"
            [selectedScope]="selectedScope"
            [searchRuleName]="searchRuleName"
            [searchAlertText]="searchAlertText"
            [rule]="rule"
            [error]="error"
            [searchResults]="searchResults"
            [commonEnvironment]="commonEnvironment"
            (scopeChange)="onScopeChange($event)"
            (searchRules)="searchRules()"
            (submitRule)="submitRule()"
            (validateRule)="validateRule()"
            (searchRuleNameChange)="searchRuleName = $event"
            (searchAlertTextChange)="searchAlertText = $event"
            (ruleChange)="rule = $event"
            (loadingChange)="loading = $event"
            (errorChange)="error = $event"
            (searchResultsChange)="searchResults = $event"
          ></app-rule-tabs>

          
        </div>
      </div>
    </div>
  </div>
</div>
